@charset "UTF-8";


h1,h2{
    font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}
article{
    width: 80%;
    order: 0;
    
}
#header img{
    display: block;
    height:30px;
    width: auto;
    margin: 10px auto;
}
/*700px以上の表示*/
@media (min-width: 700px){
    body{
        font: 14px/1.9 'Noto Sans JP', Arial, Verdana, æ¸¸ã‚´ã‚·ãƒƒã‚¯, YuGothic,'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ ProN W3', 'Hiragino Kaku Gothic ProN', ãƒ¡ã‚¤ãƒªã‚ª, Meiryo,sans-serif;
        font-weight: 300;
        margin: 0px;
        width:100%;
        display: flex;
    }
    article{
        width: 80%;
        order: 0;
        
    }
nav{
    order: 1;
    width:20%;
    position: fixed;
    top: 0;
    right:0;
}
nav ul{
    
    /*
    z-index: 999;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    */
    width:fit-content;
    position: relative;
    left:20%;
    padding: 0;
    list-style: none;
    text-align: left;
}
nav ul li{
    width:fit-content;
}
nav ul li a{
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    padding: 10px;
}
nav ul li a:hover{
    text-decoration-line: underline;
}
nav ul li a.active{
    text-decoration-line: underline;
}
}
/*699px以下の表示*/
@media (max-width: 699px){
    body{
        font: 14px/1.9 'Noto Sans JP', Arial, Verdana, æ¸¸ã‚´ã‚·ãƒƒã‚¯, YuGothic,'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ ProN W3', 'Hiragino Kaku Gothic ProN', ãƒ¡ã‚¤ãƒªã‚ª, Meiryo,sans-serif;
        font-weight: 300;
        margin: 0px;
        width:100%;
        display: flex;
        flex-direction: column;
    }
    article{
        order: 1;
        width: 100%;
        top:50px;
        
    }
    #header{
        position: fixed;
        top:0;
        width: 100vw;
        height:50px;
        background-color: white;
        z-index: 2000;
    }
    nav{
        order: 0;
        top:0;
        width: 100vw;
        height:50px;
        background-color: white;
        z-index: 1000;
        position: fixed;
        
    }
    #nav-contener{
        position: absolute;
        display: flex;
        top:0;
        right:0;
        width:50px;
        height:50px;
        z-index: 9999;
        cursor: pointer;
    }
    #nav-contener span{
        display: inline-block;
        position: absolute;
        transition: all.4s;
        left:14px;
        height: 3px;
        border-radius: 2px;
        background-color: #000;
        width: 45%;
    }
    #nav-contener span:nth-of-type(1){
        top: 15px;
    }
    #nav-contener span:nth-of-type(2){
        top: 23px;
    }
    #nav-contener span:nth-of-type(3){
        top: 31px;
    }
    #nav-contener.active span:nth-of-type(1){
        top: 15px;
        left: 14px;
        transform: translateY(8px) rotate(-45deg);
        
    }
    #nav-contener.active span:nth-of-type(2){
        opacity: 0;
    }
    #nav-contener.active span:nth-of-type(3){
        top: 31px;
        left: 14px;
        transform: translateY(-8px) rotate(45deg);
        
    }
    
    nav ul{
    
        /*
        z-index: 999;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        */
        transition: all.4s;
        position: relative;
        top:-400px;
        padding: 0;
        margin-top: 0;
        list-style: none;
        text-align: left;
        background-color: white;
        z-index: 99;
    }
    nav ul.active{
    
        /*
        z-index: 999;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        */
        
        position: relative;
        top:50px;
        padding: 0;
        margin-top: 0;
        list-style: none;
        text-align: left;
        background-color: white;
        z-index: 99;
    }
    nav ul li{
        width: 100%;
        border-bottom: gray;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        
    }
    nav ul li a{
        display: inline-block;
        font-size: 14px;
        text-decoration: none;
        color: #000;
        padding: 10px;
    }
    nav ul li a:hover{
        text-decoration-line: underline;
    }
    nav ul li a.active{
        text-decoration-line: underline;
    }
}

/*本文*/
section .title{
    padding: auto;
    width:auto;
    height: auto;
    text-align: center;
    margin: 70px 0;
}
.title a{
    display: inline-block;
    align-items: stretch;
    padding: 5px;
    border-style: none none solid;
    font-size: 22px;
}
.text{
    width:60%;
    margin: 50px auto;
}

#container ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#container li{
    flex:0 0 calc(100%/3);
    
}
#container ul #fullWidth{
    flex:0 0 100%;
}
#container li img{
    width: 100%;
    height:100%;
}
#_bland ul{
    margin:0;
    padding: 0;
    list-style:none;
}
#_bland ul li img{
    display: block;
    margin: 50px auto;
}

#_bland ul li p{
    text-align: center;
}
#_project div{
    margin: 0px;
    padding: 0px;
    display: block;
    width:60%;
    margin: 0 auto;
    height:auto;
    padding-bottom: 50px;
    overflow: hidden;
    clear: both;
}

#_project div img{
    float:left;
    max-width: 100%;
    height: auto;
    margin: 5px;
}
